.container.about {
  padding-top: 2.5rem;
}
.pop {
  color: #5cd1ff;
}
.about .feature img {
  width: 250px;
}
.about .feature {
  margin-top: 7.5rem;
  align-items: center;
  justify-content: start;
}

.about .feature .img {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
@media screen and (max-width: 640px) {
  .hero-section {
    flex-wrap: wrap;
  }
  .feature {
    flex-wrap: wrap;
  }

  .hero-section img,
  .feature img {
    max-width: 75%;
    margin: 0 auto 1rem auto;
  }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .hero-section {
    flex-wrap: wrap;
  }
  .feature {
    flex-wrap: wrap;
  }

  .hero-section img,
  .feature img {
    max-width: 40%;
    margin: auto 0;
  }
  .about .feature:first-child {
    margin-top: 1rem;
  }
}
