/* GLOBAL */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.zood-site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body > .container {
  flex: 1;
}
.nav > .nav-header {
  display: inline;
  flex: 1;
}

.nav > .nav-links {
  display: flex;
}
.nav > .nav-btn {
  display: none;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"),
    url("../fonts/lato-v16-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v16-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("../fonts/montserrat-v14-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  font-size: 14px;
}

a {
  color: #0000ff;
}

a:visited {
  color: #3c4466;
}

.container * {
  max-width: 100%;
}

body {
  background: white;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #46585e;
  margin-top: 7.5rem;
}

/* HEADER */

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  height: 7.5rem;
  position: fixed;
  display: flex;
  justify-items: center;
  top: 0;
  padding: 1rem;
}
.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}
header .container {
  display: flex;
  justify-content: space-between;
}

#header-logo {
  display: flex;
  align-items: center;
}
#header-logo img {
  height: 50px;
  width: auto;
}
.nav > #nav-check {
  display: none;
}

#menu {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-links > .item {
  color: #999;
  text-decoration: none;
  font-weight: 800;
  font-family: "Montserrat";
  font-size: 1.125rem;
  line-height: 2.33;
  margin-left: 3rem;
  margin-right: 0px;
  transition: 0.1s;
  min-width: 43px;
}

.nav-links > .item::after {
  width: 18px;
  height: 5px;
  border-radius: 2.5px;
  display: block;
  content: "";
  transition: 0.3s all;
  background-color: #cccccc;
}

.nav-links > .item:hover::after {
  width: 43px;
  transition: 0.3s all;
}

.nav-links > .active.item::after {
  width: 43px;
  background-color: #5cd2ff;
  transition: 0.3s all;
}
.nav-links > .active.item {
  color: #444;
  pointer-events: none;
}
.nav-links > .item:hover {
  color: #333;
}

hr {
  border-top: 1px solid #3c4466;
  margin: 2rem;
}

.inline-svg {
  display: inline-flex;
  align-self: center;
  height: 1.25rem;
  margin: 0 0.25rem;
}

.qa-block {
  padding: 0 1.5rem;
}
.qa-block ul {
  display: flex;
  list-style: none;
}
.qa-block ul li:first-child {
  margin-right: 2rem;
  margin-bottom: 1rem;
  color: #5cd1ff;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
}
.qa-block ul.answer {
  margin-bottom: 3.125rem;
  line-height: 1.56;
  color: #666666;
}
.qa-block ul.answer li:first-child {
  color: #cccccc;
}
.qa-block ul li:nth-child(2) {
  width: 905px;
}
.qa-block h5 {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 0.9375rem;
  font-size: 1.25rem;
  font-weight: 800;
  color: #333333;
}
.qa-wrapper {
  margin: 5.625rem 0;
}

.feature {
  display: flex;
  margin-top: 3.75rem;
  align-items: flex-end;
  justify-content: space-between;
}

.feature > div {
  justify-items: end;
  flex-direction: column;
}
.feature:nth-child(odd) {
  flex-direction: row-reverse;
}
.feature h4 {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.25rem;
  flex-grow: 2;
  font-weight: 800;
  letter-spacing: -0.7px;
  text-align: left;
  margin-bottom: 2.5rem;
  color: #333333;
}

.feature p {
  width: 477px;

  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 1.875rem;
  color: #666;
}
.feature img {
  width: 300px;
  height: auto;
}

@media screen and (max-width: 640px) {
  .container {
    padding: 0 1rem;
  }

  .container * {
    width: auto;
  }

  .mobile-col {
    width: 100% !important;
    max-width: 100%;
  }
  .nav-links > .item::after {
    display: none;
  }
  .nav-links > .item.active::before {
    width: 6px;
    height: 6px;
    margin: 2px 0;
    margin-right: 12px;
    border-radius: 2.5px;
    display: inline-block;
    content: "";
    transition: 0.3s all;
    background-color: #5cd1ff;
  }
  #header-logo img {
    height: 35px;
    width: auto;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    justify-items: center;
    align-items: center;
    padding: 0 12px;
    padding-top: 20px;
    margin-top: 28px;
    margin-right: 28px;
    width: 64px;
    height: 64px;
    /* padding: 22px; */
    transition: background-color 0.2s;
    cursor: pointer;
  }
  .nav > .nav-header {
    margin-top: 1.25rem;
    padding-left: .5rem;
  }

  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: #000;
    transition: background-color 0.2s;
  }
  /* .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    max-width: 25px;
    height: 10px;
    border-top: 2px solid rgba(60, 60, 60, 0.4);
  } */
  .nav-links > .item {
    margin-left: 0;
  }
  .nav > .nav-links {
    position: absolute;

    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.94);
    backdrop-filter: blur(15px);
    opacity: 0;
    height: auto;
    box-shadow: 10px 10px 39px -12px rgba(0, 0, 0, 0.75);
    transition: all 0.3s ease-in-out;
    overflow-y: hidden;
    padding: 1.2rem 2rem;
    top: 92px;
    right: 28px;
  }
  .nav > .nav-links > a {
    display: block;
    margin: 0.5rem 0;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .menu-overlay {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
  }
  .nav > #nav-check:checked ~ .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #c8dae8;
    mix-blend-mode: multiply;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
    visibility: visible;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: auto;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    visibility: visible;
    overflow-y: auto;
  }

  .feature h4 {
    text-align: center;
  }
  .feature img {
    padding: 0 1rem;
    padding-bottom: 1rem;
  }
  #introducing-logo {
    order: -1;
  }
  .hero-section {
    flex-wrap: wrap;
  }
  .feature > div,
  .feature p {
    width: 100%;
  }
  .feature {
    flex-wrap: wrap;
  }
  header {
    background: none;
    backdrop-filter: none;
  }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .container {
    padding: 0 3rem;
  }
  header .container {
    padding: 0 2rem;
  }
  footer,
  section.privacy-policy {
    padding: 0 2rem;
  }

  /* .feature {
    padding: 0 1rem;
  } */
  .feature > div {
    width: 50%;
    max-width: 40ch;
  }
  .feature p {
    width: 100%;
  }
}

section.privacy-policy {
  padding: 3.75rem 0;
  background-color: #333333;
  width: 100%;
  max-width: 100%;
}
.privacy-policy h5 {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}
.privacy-policy p {
  font-family: Lato;
  font-size: 0.9375rem;

  line-height: 1.67;
  text-align: left;
  color: #999999;
}
.copyright {
  background-color: #222222;
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
  line-height: 1.67;
  padding: 2.25rem 0;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}
.copyright ul {
  display: flex;
  list-style-type: none;
}
.btn {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  font-weight: 800;
  outline: none;
  line-height: 2;
  text-transform: uppercase;
  background: #5cd1ff;
  border: 1px solid #5cd1ff;
  color: #fff !important;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.325rem;
}
.btn:focus {
  border: solid 2px #5cd1ff;
  border-radius: 0.325rem;
  box-shadow: 0 0 4px 2px rgba(80, 182, 223, 0.5);
}
.img {
  user-select: none;
  pointer-events: none;
}
a:hover,
.btn:hover {
  opacity: 0.8 !important;
  cursor: pointer;
}

/* ZOOD-MENUBTN */

.zood-menubtn {
  display: inline-block;
  transform: scale(0.75);
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.zood-menubtn:hover {
  opacity: 0.7;
}

.zood-menubtn-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.zood-menubtn-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.zood-menubtn-inner,
.zood-menubtn-inner::before,
.zood-menubtn-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.zood-menubtn-inner::before,
.zood-menubtn-inner::after {
  content: "";
  display: block;
}
.zood-menubtn-inner::before {
  top: -10px;
}
.zood-menubtn-inner::after {
  bottom: -10px;
}

.zood-menubtn--slider .zood-menubtn-inner {
  top: 2px;
}
.zood-menubtn--slider .zood-menubtn-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.zood-menubtn--slider .zood-menubtn-inner::after {
  top: 20px;
}

.nav #nav-check:checked ~ .nav-btn .zood-menubtn--slider .zood-menubtn-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
  background-color: #fff;
}
.nav
  #nav-check:checked
  ~ .nav-btn
  .zood-menubtn--slider
  .zood-menubtn-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
  background-color: #fff;
}
.nav
  #nav-check:checked
  ~ .nav-btn
  .zood-menubtn--slider
  .zood-menubtn-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
  background-color: #fff;
}
