<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500,700" rel="stylesheet"> 
        <link href="/css/global.css" rel="stylesheet" />
        <link href="{{ .cssPath }}" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ .title }}</title>
        </head>
        <body>
        <header>
            <a href="/"><img id="header-logo" src="/images/zood-logo.svg" /></a>
            <div id="menu">
                <a class="item" href="/">Home</a>
                <a class="item" href="/products/location">Products</a>
                <a class="item" href="/about">About</a>
            </div>
        </header>
        <main>