<!DOCTYPE html>
<html>
    <head>
        <link href="/css/global.css" rel="stylesheet" />
        <link href="{{ .cssPath }}" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="referrer" content="no-referrer">

        <title>{{ .title }}</title>
        </head>
        <body>
        <header>
            <a href="/"><img id="header-logo" src="/images/zood-logo.svg" /></a>
            <div id="menu">
                <a class="item" href="/">Home</a>
                <a class="item" href="/products/location">Products</a>
                <a class="item" href="/about">About</a>
            </div>
        </header>
        <main>