{{ template "header.html" . }}

<section id="section1">
        <img id="introducing-logo" src="/images/zood-logo-on-dark.svg" />
        <p id="slogan">The privacy company.</p>
        <p id="section1-explanation">Living a connected life does not require giving up your privacy. Our mission is to build products and services that are a delight to use, while also respecting your privacy.</p>
</section>

<section id="section-zood-location">
    <div id="app-icon-and-name">
        <img id="app-icon" src="/images/zood-location-icon-512.png" />
        <p id="app-name">Zood Location</p>
    </div>
    <p id="app-description">Share your location with your loved ones, while protecting your location from everyone else. <a href="/products/location">Learn more…</a></p>
    <div id="screenshots">
        <div class="badge-and-screenshot">
            <a href="https://play.google.com/apps/testing/xyz.zood.george"><img class="badge" src="/images/gplay-badge.svg" /></a>
            <img class="screenshot" src="/images/zood-pixel-3-xl-720px.jpg" />
        </div>
        <div class="badge-and-screenshot">
            <a href="#"><img class="badge" src="/images/app-store-badge.svg" /></a>
            <img class="screenshot" src="/images/zood-iphone-xs-max-720px.jpg" />
        </div>
    </div>
</section>

{{ template "footer.html" . }}
