{{ template "header.html" . }}

<section id="section-zood-location">
    <div id="app-icon-and-name">
        <img id="app-icon" src="/images/zood-location-icon-512.png" />
        <p id="app-name">Zood Location</p>
    </div>
    <p id="app-description">Share your location with your loved ones, while protecting your location from everyone else.</p>
    <div id="screenshots">
        <div class="badge-and-screenshot">
            <a href="{{ .googlePlayURL }}"><img class="badge" src="/images/gplay-badge.svg" /></a>
            <img class="screenshot" src="/images/zood-pixel-3-xl-720px.jpg" />
        </div>
        <div class="badge-and-screenshot">
            <a href="{{ .appStoreURL }}"><img class="badge" src="/images/app-store-badge.svg" /></a>
            <img class="screenshot" src="/images/zood-iphone-xs-max-720px.jpg" />
        </div>
    </div>
</section>

<hr>

<section id="about-zood-location">
    <h2>Why not use &lt;service x&gt; instead?</h2>
    <p>When sharing with other services, your location isn't encrypted. Zood encrypts your location before it leaves your phone so it can only be decrypted by the person you're sharing with. No companies can track you or sell your information. No rogue employees can see your location. No hackers can compromise our servers to get everyone's location. No nosy governments can go on fishing expeditions for your location.</p>

    <h2>Lots of services say they are "secure". How can I trust Zood?</h2>
    <p>You don't have to trust Zood, because we use end-to-end encryption to protect your data. That means all your data is encrypted before it ever leaves your phone, so you don't have to trust us to not sell you out.</p>

    <p>When you create a Zood Location account, your phone performs lots of complicated math to create a random pair of keys unique to your account. The pair is composed of a secret key and a public key. The public key gets uploaded to the Zood servers, and the secret key stays on your phone. These keys are sort of like the keys you have in your pocket, but with an important distinction. Whereas your home key can lock AND unlock your doors, the public and secret keys in Zood are asymmetric. That means if you encrypt a message with your secret key, only your public key can decrypt it. Similarly, if somebody wants to send you a message that only you can read, they'll use your public key to encrypt it. Then when you receive the message, you use your secret key to decrypt it and read it.</p>

    <p>It gets a little more complicated than that, but that's the gist of it. None of your location data ever leaves your phone in unencrypted. It's always encrypted with the public key of whomever you're sending it to.</p>
</section>

{{ template "footer.html" . }}
