        </main>

        <section class='privacy-policy'>
        <div class="container">
        <h5>Privacy Policy</h5>
        <p>We take your privacy very seriously. We take it so seriously that there's not much to put in our policy. In short, we don't track anything you do on this website. No analytics, no hidden pixels, no cookies, no beacons. Nothing. Nada. Zip. Zero.</p>
</div>
</section>
        <footer class="copyright">
        <div class="container">
             <ul>
                <li>© {{ .currentYear }} Zood. All rights reserved.</li>
      
            </ul>
        </div>
    
        </footer>
    </body>
</html>