<!DOCTYPE html>
<html>
    <head>
        <link href="/css/global.css" rel="stylesheet" />
        <link href="{{ .cssPath }}" rel="stylesheet" />
        <title>{{ .title }}</title>
        <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "url": "https://zood.xyz",
  "logo": "https://zood.xyz/images/default-og-image-1024w.png"
}
</script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="referrer" content="no-referrer">
        <meta property="og:title" content="{{ .title }}" />
        <meta property="og:site_name" content="Zood" />
        <meta property="og:image" content="https://www.zood.xyz{{ if .ogImage }}{{ .ogImage }}{{ else }}/images/default-og-image-1024w.png{{ end }}" />
        {{ if .ogDescription }}
        <meta property="og:description" content="{{ .ogDescription }}" />
        {{ end }}
        </head>
        <body class="zood-site">
        <header>
        <div class="container">  
            <nav class="nav" aria-label="Zood Location" id="menu">
              <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      <a id="header-logo" href="/"><img role="menuitem" alt="Zood" src="/images/zood-logo.svg" /></a>
    </div>
  </div>

  <div class="nav-btn">
    <label for="nav-check">
  <div class="zood-menubtn zood-menubtn--slider" type="button">
  <span class="zood-menubtn-box">
    <span class="zood-menubtn-inner"></span>
  </span>
</div>
    </label>
  </div>
    <div class="menu-overlay"> </div>
  <div class="nav-links">

                <a role="menuitem" class="item{{ if eq .activeHeader "home" }} active{{ end }}" href="/">Home</a>
                <a role="menuitem"  class="item{{ if eq .activeHeader "news" }} active{{ end }}" href="/blog">Blog</a>
                <a role="menuitem"  class="item{{ if eq .activeHeader "about" }} active{{ end }}" href="/about">About</a>
                <a role="menuitem"  class="item{{ if eq .activeHeader "contact" }} active{{ end }}" href="/contact">Contact</a>
                </div>
            </nav></div>
          
        </header>
        <main class="container {{ .activeHeader }}">