{{ template "header.html" . }}
<section class="feature intro">

    <div>
        <h4>Mobile Apps Privacy Policy </h4>

        <p>Everything we build aims to increase, or at the very least preserve, your privacy. When you use Zood Location, the information that you share with your family+friends is shared with them only using end-to-end encryption. That means we don't know anything about your location, so we can't spy on your or sell your data, and nobody can compel us to reveal your location either.</p>

    </div>
</section>

<section class="feature feature-intro">
        <div class="img"><img loading="lazy" class="mobile-col" src="/images/website_stuff_we_know.svg" alt="Stuff we know about you"></div>

    <div>
        <h4>Stuff we know about you</h4>

        <p>Email Address: Upon registering an account, you may optionally provide your email address. When you do so, we send you an email with a verification link to make sure we have the correct address. The email address will only be used to contact you with important information about your account (like resetting your account if you forgot your password). We won't send you any spam, sell your email address, or share it with any 3rd parties.</p>

    </div>

</section>
<section class="feature feature-intro">
        <div class="img"><img loading="lazy" class="mobile-col" src="/images/website_stuff_we_backup.svg" alt="Stuff we backup for you"></div>

    <div>
        <h4>Stuff we backup for you</h4>

        <p>To make it easy for you to switch phones, Zood Location sends an encrypted backup of your database of friends to our server. It's encrypted with a key derived from your password (which we also don't know), so to us it's just a blob of random data that we hold just for you.
That's it! No trickery here. Just a simple service that lets you (and only you) know where your loved ones are all the time.</p>

    </div>

</section>

{{ template "footer.html" . }}
