{{ template "header.html" . }}
<section class="feature intro">

    <div>
        <h4>{{ .MobileAppsPrivacyPolicy }}</h4>

        <p>{{ .MobileAppsPrivacyPolicyMsg }}</p>

    </div>
</section>

<section class="feature feature-intro">
    <div class="img"><img loading="lazy" class="mobile-col" src="/images/website_stuff_we_know.svg" alt="{{ .StuffWeKnowAboutYou }}"></div>

    <div>
        <h4>{{ .StuffWeKnowAboutYou }}</h4>

        <p>{{ .StuffWeKnowAboutYouMsg }}</p>

    </div>

</section>
<section class="feature feature-intro">
    <div class="img"><img loading="lazy" class="mobile-col" src="/images/website_stuff_we_backup.svg" alt="{{ .StuffWeBackupForYou }}"></div>

    <div>
        <h4>{{ .StuffWeBackupForYou }}</h4>

        <p>{{ .StuffWeBackupForYouMsg }}</p>

    </div>

</section>
z
{{ template "footer.html" . }}